* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --slate: rgba(68, 88, 119, 1);
    --lightBlue: rgba(146, 204, 206, 1);
    --navy: rgba(49, 52, 61, 1);
    --fourth: rgba();

}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucinda Grande", "Lucida Sans", Arial, Sans-serif;
    line-height: 1.5;
    position: relative;
}

/* header */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
    background-color: var(--navy);
}

header h1 {
    color: var(--navy);
    background-color: var(--lightBlue);
    margin: auto 0;
    padding-left: 4%;
    padding-right: 10px;
    font-size: 2vw;
}

/* navigation */
nav {
    margin: auto 0;
    padding-right: 15px;
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    color: var(--lightBlue);
    background-image: linear-gradient(270deg, var(--lightBlue) 0%, var(--lightBlue) 100%);
    background-repeat: no-repeat;
    background-size: 100% .2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;
}


a {
    text-decoration: none;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--slate);
}

/* Hero Image */
.hero-banner figure {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    background-position: center;
}

.hero-banner h2 {
    background-color: var(--lightBlue);
    font-size: 2vw;
    width:auto;
    text-align: center;
    margin-top:-5%;
    margin-bottom: 5%;
    padding-right: 4%;
    padding-left: 4%;
    border: none;
    float:right;
}

.hero img {
    width: 400px;
    background-color: var(--lightBlue);
    border-radius: 30%;
    margin-top: 4%;
    margin-right: 6%;
    margin-bottom: 4%;
}


/* main body */
main {
    max-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

main section {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    margin: 2% auto;
}

section h2 {
    text-align: right;
    margin-right: 30px;
    padding-right: 5px;
    margin-left: -5%;
    flex: 0 0 20%;
    border-right: 4px solid var(--slate);
    font-size: 40px;
}


/* about me */
#about div {
    flex: 0 0 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}



/* work queries */
.workBlock {}

.workBlock div {}


.workProject {}

workProject:first-child {}

.workProject div {}


/* refactor project */
.refactor {}

.refactor:hover {}

/* future 3rd project */
.third {}

.third:hover {}

/* future 4th project */
.fourth {}

.fourth:hover {}

/* future 5th project */
.fifth {}

.fifth:hover {}

/* future 6th project */
.sixth {}

.sixth:hover {}

/* footer */
#contact {}

address a {
    margin-top: 10px;
}